{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}

  <div class="chalkboard-white">
    
    <!-- Botón Atrás -->
    <div class="d-flex justify-content-start mb-3">
      <a href="{% url 'home' %}" class="btn btn-back">Go back</a>
    </div>

    <h3 class="text-center mb-3">Log in</h3>

    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      
      <div class="mb-3 row text-center text-sm-start">
        <label for="email" class="col-12 col-sm-3 col-form-label">Email</label>
        <div class="col-12 col-sm-9">
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
      </div>

      <div class="mb-3 row text-center text-sm-start">
        <label for="password" class="col-12 col-sm-3 col-form-label">Password</label>
        <div class="col-12 col-sm-9">
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
      </div>
      <br>
      <div class="d-grid gap-3 mx-auto" style="max-width: 250px;" >
        <button type="submit" class="btn btn-login">Login</button>
        <a href="{% url 'signup' %}" class="btn btn-signup">Sign Up</a>
      </div>
    </form>
  </div>

{% endblock %}