<!DOCTYPE html>
<html>
<head>
    <title>Teacher Sign Up</title>
</head>
<body>
    <h1>New Teacher Registration</h1>
    
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="POST">
        {% csrf_token %}

    <label>Name:</label>
    <input type="text" name="name" required><br>

    <label>Last name:</label>
    <input type="text" name="last_name" required><br>

    <label>Email:</label>
    <input type="email" name="email" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <label>School Password:</label>
    <input type="password" name="school_password" required><br>

    <button type="submit">Register</button>
    </form>

</body>
</html>